* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 1280px;
  height: 100%;
  /* overflow: auto; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ccc;
}